[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
mysqlclient = "==2.1.1"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
requests = "*"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"
django-debug-toolbar = "*"
django-cors-headers = "*"
pandas = "*"
openpyxl = "*"
django-widget-tweaks = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.12"
