asgiref
crispy-bootstrap4
Django
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-filter
djangorestframework
drf-nested-routers
idna
mysqlclient
pillow
pip
requests
setuptools
sqlparse
tzdata
urllib3
pandas
openpyxl
django-widget-tweaks