{% extends "base.html" %}

{% block title %}
Contacts home
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row my-1">
        <div class="col-md-8"><h4 style="font-weight: bold;">CONTACTS</h4></div>
    </div>
</div>
{% for message in messages %}
    <p class="alert alert-success mt-2">{{message}}</p>
{% endfor %}

<div class="container shadow">

    <!-- Search Form -->
    <form method="get" class="d-flex mb-3">
        <input 
            type="text" 
            name="q" 
            class="form-control me-2" 
            placeholder="Search contacts..." 
            value="{{ search_query }}"
        >
        <button type="submit" class="btn btn-outline-success">Search</button>
    </form>

   <a class="btn btn-success btn-sm btn-block mt-3 mb-3 col-12" href="{% url 'add_contact' %}">
        <i class="fas fa-plus"> Add New Contact</i>
    </a>

    <table class="table table-bordered table-sm">
        <thead class="border-bottom font-weight-bold">
            <tr class="" style="font-weight:bold">
                <th>Full name</th>
                <th>Organisation</th>
                <th>Phone Number</th>
                <th>Contact Email</th>
                <th align="center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr class="border-bottom">
                <td>{{ contact.name}}&nbsp{{ contact.surname }}</td>
                <td>{{ contact.investor }}</td>
                <td>{{ contact.phone_number }}</td>
                <td>{{ contact.email_address }}</td>
                <td align="center">
                    <a href="{% url 'edit_contact' pk=contact.id %}" style="color: #28a745; font-size: 1rem;">
                        <i class="fas fa-edit"></i>
                    </a>&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'delete_contact' pk=contact.id %}" style="color: #dc3545; font-size: 1rem;">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}