{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{% if object %}Edit{% else %}Add{% endif %} Investor Link{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                <h4 class="card-title">
                    {% if object %}Edit{% else %}Add{% endif %} Investor Link for {{ contact.name }} {{ contact.surname }}
                </h4>
                </div>
                <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mt-3">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-save"></i> Save
                    </button>
                    <a href="{% url 'contact_detail' pk=contact.pk %}" class="btn btn-secondary">
                        <i class="fas fa-times"></i> Cancel
                    </a>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}