{% extends "base.html" %}

{% block title %}Delete Investor Link{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Delete Investor Link</h4>
        </div>
        <div class="card-body">
          <p>Are you sure you want to remove the link between:</p>
          <p><strong>Contact:</strong> {{ object.contact.name }} {{ object.contact.surname }}</p>
          <p><strong>Investor:</strong> {{ object.investor.name }}</p>
          
          <form method="post">
            {% csrf_token %}
            <div class="mt-3">
              <button type="submit" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i> Confirm Delete
              </button>
              <a href="{% url 'contact_detail' pk=object.contact.pk %}" class="btn btn-secondary">
                <i class="fas fa-times"></i> Cancel
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
