{% extends "base.html" %}

{% block title %}
Investors home
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row my-2">
        <div class="col-md-8"> <h5><b>INVESTORS</b></h5></div>

    {% comment %} 
        <div align="right" class="col-md-4">        
    
        <a href="#New_Investor" data-bs-toggle="modal" role="modal" data-target="#New_Investor" class="btn btn-outline-success" style="height:30px;width:110px;padding:2px"><i class="fas fa-plus"> Add New </i></a>

        <div class="modal" tabindex="-1" id="New_Investor">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New Investor</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{form}}
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}
</div>

</div>
{% for message in messages %}
    <p class="alert alert-success mt-2">{{message}}</p>
{% endfor %}

<div class="container shadow">
   <a class="btn btn-success btn-sm btn-block mt-3 mb-3 col-12" href="{% url 'add_investor' %}">
        <i class="fas fa-plus"> Add New Investor</i>
    </a>

    <table class="table table-borderless table-hover table-sm">
        <thead class="border-bottom font-weight-bold">
            <tr class="" style="font-weight:bold">
                <td>Investor name</td>
                <td>Short name</td>
                <td>Investor Type</td>
                <td>Contact Name</td>
                <td>Contact Email</td>
                <td>Phone Number</td>
                <td align="center">Actions</td>
            </tr>
        </thead>
        <tbody>
        {% if investors_data %}
            {% for investor_data in investors_data %}
            <tr class="border-bottom" onclick="window.location='{{investor_data.investor.get_absolute_url}}';"  style="cursor: pointer;">
                <td>{{ investor_data.investor.name }}</td>
                <td>{{ investor_data.investor.short_name }}</td>
                <td>{{ investor_data.investor.category }}</td>
                <td>{{ investor_data.primary_contact.name }}&nbsp{{ investor_data.primary_contact.surname }}</td>
                <td>{{ investor_data.primary_contact.email_address }}</td>
                <td>{{investor_data.primary_contact.phone_number}}</td>
                <td align="center">
                    <a href="{% url 'edit_investor' pk=investor_data.investor.id %}" style="color: #28a745; font-size: 1rem;">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'delete_investor' pk=investor_data.investor.id %}" style="color: #dc3545; font-size: 1rem;">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr><td>There are no investors to display</td></tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}