{% extends "base.html" %}

{% block title %}
Companies home
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row my-2">
        <div class="col-md-8"> <h4 style="font-weight: bold;">COMPANIES</h4></div>
    </div>
</div>

<div class="container shadow">

    <!-- Search Form -->
    <form method="get" class="d-flex mb-3">
        <input 
            type="text" 
            name="q" 
            class="form-control me-2" 
            placeholder="Search companies..." 
            value="{{ search_query }}"
        >
        <button type="submit" class="btn btn-outline-success">Search</button>
    </form>
    
    <a class="btn btn-success btn-sm btn-block mt-3 mb-3 col-12" href="{% url 'add_company' %}">
        <i class="fas fa-plus"> Add New Company</i>
    </a>

    <table class="table table-borderless table-hover table-sm" cellspacing="1px">
        <thead class="border-bottom">
            <tr class="" style="font-weight:bold">
                <td>Company name</td>
                <td>Registration No.</td>
                <td align="center">Industry</td>
                <td align="right">Country</td>
                <td align="center">Actions</td>
            </tr>
        </thead>
        <tbody>
            {% if companies %}
                {% for company in companies %}
                    <tr class="border-bottom" onclick="window.location='{{ company.get_absolute_url }}';"  style="cursor: pointer;">
                        <td>{{company.name}}</td>
                        <td>{{ company.registration_no }}</td>
                        <td align="center">{{ company.industry }}</td>
                        <td align="right">{{ company.country }}</td>
                        <td align="center">
                            <a href="{% url 'edit_company' pk=company.id %}" style="color: #28a745; font-size: 1rem;">
                                <i class="fas fa-edit"></i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a href="{% url 'delete_company' pk=company.id %}" style="color: #dc3545; font-size: 1rem;">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td>There are no companies to display</td>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}