{% extends "base.html" %}

{% block title %}
Funds home
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row my-2">
        <div class="col-md-8"><h4 style="font-weight: bold;">FUNDS</h4></div>
    </div>
</div>

<div class="container shadow">

    <!-- Search Form -->
    <form method="get" class="d-flex mb-3">
        <input 
            type="text" 
            name="q" 
            class="form-control me-2" 
            placeholder="Search fund..." 
            value="{{ search_query }}"
        >
        <button type="submit" class="btn btn-outline-success">Search</button>
    </form>

    <a class="btn btn-success btn-sm btn-block mt-3 mb-3 col-12" href="{% url 'add_fund' %}">
        <i class="fas fa-plus"> Add New Fund</i>
    </a>

    <table class="table table-bordered table-hover table-sm" cellspacing="1px">
        <thead class="border-bottom">
            <tr class="" style="font-weight:bold">
                <th>Fund name</th>
                <th style="text-align:center">Currency</th>
                <th style="text-align:right">Committed Capital</th>
                <th style="text-align:right">Drawn Down</th>
                <th style="text-align:right">Undrawn</th>
                <th style="text-align:right">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if funds_data %}
            {% for fund_data in funds_data %}
            <tr class="border-bottom" onclick="window.location='{{fund_data.fund.get_absolute_url}}';" style="cursor: pointer;">
                <td >{{fund_data.fund.name}}</td>
                <td align="center">{{ fund_data.fund.currency }}</td>
                <td align="right">{{ fund_data.committed_capital }}</td>
                <td align="right">{{ fund_data.called_capital }}</td>
                <td align="right">{{ fund_data.undrawn_commitment }}</td>
                <td align="center">
                    <a href="{% url 'edit_fund' pk=fund_data.fund.id %}" style="color: #28a745; font-size: 1rem;">
                        <i class="fas fa-edit"></i>
                    </a> &nbsp;&nbsp;&nbsp;
                    <a href="{% url 'delete_fund' pk=fund_data.fund.id %}" style="color: #dc3545; font-size: 1rem;">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr><td>There are no funds to display</td></tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}