{% extends "base.html" %}
{% load custom_filters %}

{% block title %}
Fund Close: {{ fund.name }}
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row my-2">
        <div class="col-md-8"><h4 style="font-weight: bold;">FUNDS</h4></div>
    </div>
</div>

<div class="container shadow">

    <!-- Search Form -->
    <form method="get" class="d-flex mb-3">
        <input 
            type="text" 
            name="q" 
            class="form-control me-2" 
            placeholder="Search fund..." 
            value="{{ search_query }}"
        >
        <button type="submit" class="btn btn-outline-success">Search</button>
    </form>

    <a class="btn btn-success btn-sm btn-block mt-3 mb-3 col-12" href="{% url 'add_fund' %}">
        <i class="fas fa-plus"> Process a New Close</i>
    </a>

    <table class="table table-bordered table-hover table-sm" cellspacing="1px">
        <colgroup>
            <col span="1" style="width: 50%;">
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 20%;">
        </colgroup>
        <thead>
            <th style="text-align:left">Investor</th>
            <th style="text-align:right">Committed Capital</th>
            <th style="text-align:center">Fund Interest</th>
        </thead>
        <tbody>

            {% if investors_data %}
            {% for investor_data in investors_data %}
            <tr>
                <td style="text-align: left;">{{ investor_data.investor.name }}</td>
                <td style="text-align: right;">{{ investor_data.committed_amount }}</td>
                <td style="text-align: center;">{{ investor_data.fund_interest_committed|percent:2 }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td style="text-align: left;">Total</td>
                <td style="text-align: right;">{{ total_committed_capital }}</td>
                <td style="text-align: center;">{{ total_fund_interest_committed|percent:2 }}</td>
            </tr>
            {% else %}
                <tr><td> There are no investor commitments to display</td></tr>
            {% endif %}

        </tbody>
    </table>
</div>    

{% endblock content %}