{% extends "base.html" %}
{% load custom_filters %}

{% block title %}
Fund Close: {{ fund.name}}
{% endblock title %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#add-form').click(function() {
                var form_idx = $('#id_form-TOTAL_FORMS').val();
                $('#form-container').append($('#empty-form').html().replace(/__prefix__/g, form_idx));
                $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <h4>Committed Capital to {{ fund.name }}</h4>
        <div class="row my-5">
            <form method="post">
                {% csrf_token %}
                
                {{ formset.management_form }}
                <div id="form-container">
                    {% for form in formset %}
                        <div class="form-row">
                            {{ form }} &nbsp;
                            <button type="button" class="btn btn-sm btn-danger delete-form" onclick="this.parentElement.remove();">Remove</button>
                        </div>
                    {% endfor %}
                </div>
                <button type="button" class="btn btn-sm btn-secondary" id="add-form">Add investor</button>
                <button type="submit" class="btn btn-sm btn-success">Process</button>
            </form>
        </div>
        <div id="empty-form" style="display: none;">
            <div class="form-row">
                {{ formset.empty_form.as_p }}&nbsp;
                &nbsp;<button type="button" class="btn btn-danger delete-form" onclick="this.parentElement.remove();">Remove</button>
            </div>
        </div>
    </div>
{% endblock content %}