{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous">

    <!-- Custom  js & css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <!-- chart js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" 
        integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">

    <title>LEMO | {% block title %}Home{% endblock title %}</title>

</head>
<body>
    <div class="top-nav">
        <div class="brand"><h5>LEMO</h5></div>
        <div>
            <a href="#"><i class="fas fa-user"></i></a>
            <a href="#"><i class="fas fa-cog"></i></a>
            <a href="#"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>

    <div class="sidebar" id="sidebar">
        <div>
            <div class="menu-item home-button active">
                <a href="{% url 'dashboard' %}" class="text-decoration-none text-white">
                    <i class="fas fa-tachometer-alt"></i><span> Dashboard</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="{% url 'funds' %}" class="text-decoration-none text-white">
                    <i class="fas fa-piggy-bank"></i><span> Funds</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="{% url 'investors' %}" class="text-decoration-none text-white">
                    <i class="fas fa-users"></i><span> Investors</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="{% url 'investments' %}" class="text-decoration-none text-white">
                    <i class="fas fa-chart-line"></i><span> Investments</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="{% url 'contacts' %}" class="text-decoration-none text-white">
                    <i class="fas fa-address-book"></i><span> Contacts</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="{% url 'companies' %}" class="text-decoration-none text-white">
                    <i class="fas fa-building"></i><span> Companies</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="#" class="text-decoration-none text-white">
                    <i class="fas fa-filter"></i><span> Deals</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="#" class="text-decoration-none text-white">
                    <i class="fas fa-tools"></i><span> Admin</span>
                </a>
            </div>
        </div>
        <div class="toggle-btn" onclick="toggleSidebar()">
            <i id="toggle-icon" class="fas fa-chevron-right"></i>
        </div>
    </div>

    <div class="content">
        <div class="container content-container">
            <font size="2">
            {% block content %}

            {% endblock content %}
            </font>
        </div>
    </div>

    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            const toggleIcon = document.getElementById('toggle-icon');

            // Toggle the sidebar expansion
            sidebar.classList.toggle('expanded');

            // Change the toggle button icon
            if (sidebar.classList.contains('expanded')) {
                toggleIcon.classList.remove('fa-chevron-right');
                toggleIcon.classList.add('fa-chevron-left');
            } else {
                toggleIcon.classList.remove('fa-chevron-left');
                toggleIcon.classList.add('fa-chevron-right');
            }
        }
    </script>

    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" 
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" 
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

    {% block scripts %}

    {% endblock scripts %}

</body>
</html>